<section 
        ng-controller="passwordController"
        >
        <div class="container">
                <div class="row">
                  <div class="col">
                    <form ng-submit="changePassword()" name="passwordForm">
                      <div class="form-row form-group">
                        <label for="currentPassword"> Current Password</label>
                        <input 
                              type="password"
                              required
                              ng-model="password.current"
                              name="currentPassword"
                              id="currentPassword"
                              class="form-control"
                              placeholder="Current Password"
                        >
                      </div>                      
                      <div class="form-group form-row">
                        <label for="focalPassword">New Password</label>
                        <input type="password" class="form-control" id="focalPassword"  required name="focalPassword" ng-model="user.password" placeholder="Password">
                        <div ng-messages="focalPassword.$error">
                            <div ng-message="required">Password is Required!!!</div>
                          </div>
                      </div>
                      <div class="form-row form-group">
                          <label for="repeatNew">Retype New Password</label>
                          <input 
                                type="password"
                                required
                                ng-model="password.newRetype"
                                name="repeatNew"
                                id="repeatNew"
                                placeholder="Retype New Password"
                                class="form-control"
                          >
                      </div>
                      <button type="submit" class="btn btn-md btn-primary">Change Password</button>
                    </form>  
                  </div>
                </div>
              </div>
</section>
