<section ng-controller="paymentController"  style="margin-top: 10px;">
    <div class="container">
        <div class="shadow p-3 mb-3 bg-white rounded row">
            <div class="col">
                <form class="needs-validation"  ng-submit="submitPayment()" class="jumbotron form-inline" name="paymentForm" novalidate>
                    <div class="row">
                        <div class="form-group col">
                            <label for="invoice">Invoice Number</label>
                            <input 
                                    type="text"
                                    name="invoice"
                                    placeholder="Invoice Number"
                                    id="invoice"
                                    class="form-control"
                                    required="required"
                                    ng-model="payemt.invoiceNo"
                                />
                                <div ng-if="paymentForm.invoice.$error.required && paymentForm.invoice.$touched" class="text-danger">
                                  Invoice Number is required
                                </div>
                        </div>              
                        <div class="col">
                            <div class="form-group">
                                <label for="date">Payment Date</label>
                                <input
                                        type="date"
                                        name="paymentDate"
                                        ng-model="payment.date"
                                        placeholder="Payment Date"
                                        class="form-control"
                                        id="paymentdate"
                                        required="required"
                                        />
                                <div ng-if="paymentForm.paymentdate.$error.required && paymentForm.paymentdate.$touched" class="text-danger">
                                        Payment date is required
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="row">

                                <button type="submit" 
                                        class="btn col btn-primary btn-sm"
                                        ng-disabled="paymentForm.$invalid"
                                        >
                                        Save
                                </button>
                            </div>
                            <div class="row">
                                <button type="button" 
                                        class="btn col btn-danger btn-sm"
                                        ng-disabled="paymentForm.$submitted"
                                        >
                                        Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-striped bg-white  table-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Occupation</th>
                        <th scope="col">Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="payment in assessmentPayments">
                        <th scope="row">{{$index}}</th>
                        <td ng-bind="payment.firstName"></td>
                        <td ng-bind="payment.lastName"></td>
                        <td ng-bind="payment.occupation"></td>
                        <td ng-bind="payment.price"></td>
                    </tr>
                    </tbody>
                </table> 
            </div>   
        </div>
    </div>
</div>
</section>