<section ng-controller="resultDetailController">
    <div class="container ">
        <div class="row">
            <div class="col d-print-none">
                <button type="buton" class="btn bt-md btn-primary d-print-none" ng-click="print()"><i class="fa fa-print  fa-lg"> </i> Print</button>
            </div>
        </div>
        <div class="row p-3 mt-10 bg-white">
            <div class="col">
                <table style="width: 100%" class="table" border="1">
                    <tbody>
                        <tr>
                            <th>
                                Occupation Code
                            </th>
                            <td>
                                <span ng-bind="OCC_CODE" class="text-uppercase"></span>
                            </td>
                            <th>Occupation</th>
                            <td colspan="3">
                                <span ng-bind="OCCUPATION" class="text-uppercase"></span>
                            </td>
                            <th>Date</th>
                            <td>
                                <span ng-bind="ASSESSMENT_DATE" class="text-uppercase"></span>
                            </td>
                            <th>
                                <span>Time</span>
                            </th>
                            <td>
                                <span ng-bind="TIME" class="text-uppercase"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>Group ID</th>
                            <td>
                                <span ng-bind="GROUP" class="text-uppercase"></span>
                            </td>
                            <th>Center Name</th>
                            <td colspan="7">
                                <span ng-bind="CENTER" class="text-uppercase"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row bg-white">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Candidate Name </th>
                            <th>Registreation ID</th>
                            <th>Practical Result</th>
                            <th>Knowledge Result</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="result in ASSESSMENT_RESULTS">
                            <td>{{index}}</td>
                            <td ng-bind="result.full_name"></td>
                            <td ng-bind="result.can_regno"></td>
                            <td ng-bind="result.practical_result"></td>
                            <td ng-bind="result.knowledge_result"></td>
                            <td ng-bind="result.status"></td>
                        </tr>
                    </tbody>
                </table>
                <hr />
            </div>
        </div>
    </div>

</section>