<section ng-controller="resultDetailController">
    <div class="container shadow p-3 mt-5 bg-white">
        <div class="row">
            <div class="col d-print-none">
                <button type="buton" class="btn bt-md btn-primary d-print-none" ng-click="print()">Print</button>
            </div>
        </div>
        <div class="form-row form-inline">
                <div class="form-group col">
                <div class="ml-1 col-lg-2 col-form-label text-uppercase">Occupation</div>
                <div class="ml-1 form-control text-uppercase">
                       {{OCCUPATION}}
                </div>
                </div>
                <div class="form-group">
                <div class="ml-1 col-form-label text-uppercase">
                    Group ID
                </div>
                <div class="ml-1 form-control text-uppercase">
                        {{GROUP}}
                </div>
                </div>
                <div class="form-group col">
                <div class="ml-1 col-form-label text-uppercase">
                            Center 
                </div>
                <div class="ml-1 form-control text-uppercase">
                             {{CENTER}}
                </div>
                </div>
                <div class="form-group col">
                <div class="ml-1 col-form-label text-uppercase">
                        Date 
            </div>
            <div class="col ml-1 form-control text-uppercase">
                         {{ASSESSMENT_DATE}}
            </div>
            </div>
            </div>
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>                            
                            <th>#</th>
                            <th>Candidate Name </th>
                            <th>Registreation ID</th>
                            <th>Practical Result</th>
                            <th>Knowledge Result</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="result in ASSESSMENT_RESULTS">
                            <td>{{index}}</td>
                            <td ng-bind="result.full_name"></td>
                            <td ng-bind="result.can_regno"></td>
                            <td ng-bind="result.practical_result"></td>
                            <td ng-bind="result.knowledge_result"></td>
                            <td ng-bind="result.knowledge_result"></td>
                        </tr>
                    </tbody>
                </table>
                <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
                <uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                <uib-pagination direction-links="false" boundary-links="true" total-items="totalItems" ng-model="currentPage"></uib-pagination>
                <uib-pagination direction-links="false" total-items="totalItems" ng-model="currentPage" num-pages="smallnumPages"></uib-pagination>
                <pre>The selected page no: {{currentPage}}</pre>
                <button type="button" class="btn btn-info" ng-click="setPage(3)">Set current page to: 3</button>
            
                <hr />
            </div>
        </div>
    </div>

</section>