<section  ng-controller="scheduleController" >
        <div class="container">
            <div class="row">
                <div class="col">
                        <ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></ul>
                    <table class="table table-striped bg-white  table-sm">
                        <thead class="thead-dark">
                            <tr>
                            <th>#</th>
                            <th>Shecule ID</th>
                            <th>Group ID</th>
                            <th>Location</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Occupation</th>
                            <th>Total</th>
                            <th >Print</th>                   
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="schedule in AVAILABLE_SCHEDULES">
                            <th>{{$index}}</th>
                            <td ng-bind="schedule.sch_id"></td>
                            <td ng-bind="schedule.gr_id"></td>
                            <td ng-bind="schedule.center_name"></td>
                            <td ng-bind="schedule.scheduled_date"></td>
                            <td ng-bind="schedule.time"></td>
                            <td ng-bind="schedule.occ_code"></td>
                            <td ng-bind="schedule.total"></td>
                            <th scope="col-1"><a type="button" class="btn btn-sm btn-info" href="#schedule/{{schedule.gr_id}}">View</a> </th> 
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</section>