<div class="p-3 mb-5 bg-white container">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="form-group col" ng-class="{ 'valid-input' : registrationForm.nationality.$valid, 'input-error' : registrationForm.nationality.$error }">
                    <label for="nationality">Nationality</label>
                    <select type="text" ng-model="candidate.basic_info.nationality" name="nationality" id="nationality" placeholder="nationality"
                        required="required" class="form-control">
                        <option ng-repeat="nationality in NATIONALITIES" value="{{nationality}}">{{nationality}}</option>
                    </select>
                    <div ng-messages="registrationForm.nationality.$error" ng-if="registrationForm.nationality.$error ">
                        <div ng-message="required">Nationality is Required</div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="form-group col" ng-class="{ 'valid-input' : registrationForm.region.$valid, 'input-error' : registrationForm.region.$error }">
                    <label for="region">Region</label>
                    <select type="text" ng-model="candidate.basic_info.region" name="region" id="region" placeholder="region" required="required"
                        class="form-control">
                        <option ng-repeat="region in REGIONS" value="{{region}}">{{region}}</option>
                    </select>
                    <div ng-messages="registrationForm.region.$error" ng-if="registrationForm.region.$error">
                        <div ng-message="required">Region is required</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col" ng-class="{ 'valid-input' : registrationForm.city.$valid, 'input-error' : registrationForm.city.$error }">
                    <label for="city">City</label>
                    <input type="text" required ng-model="candidate.basic_info.city" name="city" id="city" placeholder="City" class="form-control">
                    <div ng-messages="registrationForm.city.$error" ng-if="registrationForm.city.$error">
                        <div ng-message="required">City is Required</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col" ng-class="{ 'valid-input' : registrationForm.zone.$valid, 'input-error' : registrationForm.zone.$error }">
                    <label for="zone">Zone</label>
                    <input type="text" ng-model="candidate.basic_info.sub_city" name="zone" id="zone" placeholder="Zone" required="required"
                        class="form-control">
                    <div ng-messages="registrationForm.zone.$error" ng-if="registrationForm.zone.$error">
                        <div ng-message="required">Zone is Required</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col" ng-class="{ 'valid-input' : registrationForm.wereda.$valid, 'input-error' : registrationForm.wereda.$error }">
                    <label for="wereda">Wereda</label>
                    <input type="text" required ng-model="candidate.basic_info.wereda" id="wereda" name="wereda" placeholder="Wereda" class="form-control">
                    <div ng-messages="registrationForm.wereda.$error" ng-if="registrationForm.wereda.$touched">
                        <div ng-message="required">Wereda is Required</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="form-group col" ng-class="{ 'valid-input' : registrationForm.mobile.$valid, 'input-error' : registrationForm.mobile.$error }">
                    <label for="mobile">Mobile Number</label>
                    <input type="text" pattern="[0-9]{10}" required ng-model="candidate.basic_info.cell_phone" name="mobile" id="mobile" class="form-control"
                        placeholder="Mobile Number">
                        <div ng-messages="registrationForm.mobile.$error" >
                            <div ng-message="required">Main mobile is Required</div>
                            <div ng-message="pattern">Valid Mobile Number should contain 10 Digits</div>
                        </div>
                </div>
                
            </div>
            <div class="row">
                <div class="form-group col" ng-class="{ 'valid-input' : registrationForm.officePhone.$valid, 'input-error' : registrationForm.officePhone.$error }">
                    <label for="officePhone">Office Phone</label>
                    <input type="text" pattern="[0-9]{10}" ng-model="candidate.basic_info.office_phone" name="officePhone" id="officePhone" placeholder="Office Phone Number"
                        class="form-control">
                    <div ng-message="registrationForm.officePhone.$error">
                            <div ng-message="pattern">Valid Phone Number Should contain 10 Digits</div>
                    </div>
                        
                </div>
            </div>
            <div class="row">
                <div class="form-group col" ng-class="{ 'valid-input' : registrationForm.homePhone.$valid, 'input-error' : registrationForm.homePhone.$error }">
                    <label for="homePhone">Home Phone</label>
                    <input type="text" pattern="[0-9]{10}" ng-model="candidate.basic_info.home_phone" name="homePhone" id="homePhone" placeholder="Home Phone Number"
                        class="form-control">
                        <div ng-messages="registrationForm.homePhone.$error" >
                                <div ng-message="pattern">Valid Home Number should contain 10 Digits</div>
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col" ng-class="{ 'valid-input' : registrationForm.email.$valid, 'input-error' : registrationForm.email.$error }">
                    <label for="email">E-mail Address</label>
                    <input type="email" ng-model="candidate.basic_info.email" name="email" id="email" placeholder="Email Address" class="form-control">
                    <div ng-messages="registrationForm.email.$error" >
                            <div ng-message="email">Please Provide valid Email Address</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>