<div class="container">
    <div class="row">
        <div class="form-group col" ng-class="{ 'valid-input' : registrationForm.mainSector.$valid, 'input-error' : registrationForm.mainSector.$error }">
            <label for="mainSector">Sector </label>
            <select name="mainSector" aria-placeholder="Sector" id="mainSector" ng-model="sector" required ng-change="loadSectors(sector)"
                class="form-control">
                <option ng-repeat="parentSector in PARENT_SECTORS" value="{{parentSector.sector_code}}">{{parentSector.sector_name}}</option>
            </select>
            <div ng-messages="registrationForm.mainSector.$error" ng-if="registrationForm.mainSector.$error">
                <div ng-message="required">Sector is Required !!!</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col" ng-class="{ 'valid-input' : registrationForm.subSector.$valid, 'input-error' : registrationForm.subSector.$error }">
            <label for="subSector"> Sub-Sector </label>
            <select ng-disabled="!sector" name="subSector" aria-placeholder="subSector" id="subSector" ng-model="subSector" required
                ng-change="loadOccupations(subSector)" class="form-control">
                <option ng-repeat="sector in SECTORS" value="{{sector.sector_code}}">{{sector.sector_name}}</option>
            </select>
            <div ng-messages="registrationForm.subSector.$error" ng-if="registrationForm.subSector.$error">
                <div ng-message="required">Sub Sector is Required</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col" ng-class="{ 'valid-input' : registrationForm.occupation.$valid, 'input-error' : registrationForm.occupation.$error }">
            <label for="occupation">Occupation</label>
            <select ng-disabled="!subSector" name="occupation" aria-placeholder="Occupation" id="occupation" ng-change="loadUCs(candidate.assessment.occ_code)"
                ng-model="candidate.assessment.occ_code" required class="form-control">
                <option ng-repeat="occupation in OCCUPATIONS" ng-class="{'input-error' : registrationForm.occupation.$error }" value="{{occupation.occ_code}}">{{occupation.occ_code}}-{{occupation.occ_name}}</option>
            </select>
            <div ng-messages="registrationForm.occupation.$error" ng-if="registrationForm.occupation.$error">
                <div ng-message="required"> Occupation is Required</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-check form-check-inline">
            <label for="ucRegister" class="form-check-label">Register For UC</label>
            <input ng-change="ucCheck(candidate.assessment.apply_for_uc)" type="checkbox" name="ucRegister" ng-model="candidate.assessment.apply_for_uc"
                id="ucRegister_yes" class="form-check-input" value="yes">
        </div>
    </div>
    <div class="row" disabled="!candidate.assessment.apply_for_uc">
        <div class="form-group col" ng-class="{ 'valid-input' : registrationForm.ucReg.$valid, 'input-error' : registrationForm.ucReg.$error }">
            <label for="ucReg">Unit of Competencies</label>
            <select ng-disabled="!candidate.assessment.occ_code" name="ucReg" aria-placeholder="Unit Of Competencies" id="ucReg" ng-model="candidate.assessment.selected_uc"
                ng-required="candidate.assessment.apply_for_uc" disabled="!candidate.assessment.apply_for_uc" ng-readonly="!candidate.assessment.apply_for_uc"
                multiple class="form-control">
                <option ng-repeat="uc in UCS" value="{{uc.uc_code}}">{{uc.uc_code}}-{{uc.uc_name}}</option>
            </select>
            <div ng-messages="registrationForm.ucReg.$error" ng-if="registrationForm.ucReg.$error">
                <div ng-message="required">Unit of Competency is Required</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col alert-info">
            <label for="applicationFee">Application Fee</label>
            <input type="text" disabled ng-model="candidate.assessment.amount_paid" id="applicationFee" name="applicationFee" class="form-control">
        </div>
        <div class=" form-group text-center col">

            <button type="button" class="btn btn-primary" id="paid" ng-checked="paymentStatus(candidate.assessment.paid)" ng-model="candidate.assessment.paid"
                uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                <i class="fa fa-usd  fa-lg "></i>
                paid </button>


        </div>
    </div>
</div>