<div class="shadow p-3 mb-5 bg-white rounded container">
  <div class="row">
    <div class="form-group col">
      <label for="mainSector" >Sector </label>
      <select
              name="mainSector"
              aria-placeholder="Sector"
              id="mainSector"
              ng-model="candidate.assessment.mainSector"
              required
              ng-change="loadSubSectors(candidate.assessment.mainSector)"
              class="form-control"
      >
      <option ng-repeat="parentSector in PARENT_SECTORS" value="{{parentSector.sector_code}}">{{parentSector.sector_name}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="subSector" > Sub-Sector </label>
      <select
              ng-disabled="!candidate.assessment.mainSector"
              name="subSector"
              aria-placeholder="subSector"
              id="subSector"
              ng-model="candidate.assessment.subSector"
              required
              ng-change="loadOccupations(candidate.assessment.subSector)"
              class="form-control"
      >
      <option ng-repeat="sector in SECTORS" value="{{sector.sector_code}}">{{sector.sector_name}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
        <label for="occupation">Occupation</label>
        <select
                ng-disabled="!candidate.assessment.subSector"
                name="occupation"
                aria-placeholder="Occupation"
                id="occupation"
                ng-change="loadUCs(candidate.assessment.occCode); applicationFee(occupation.)"
                ng-model="candidate.assessment.occCode"
                required
                class="form-control"
        >
        <option ng-repeat="occupation in OCCUPATIONS" value="{{occupation.occ_code}}">{{occupation.occ_code}}-{{occupation.occ_name}}</option>
        </select>
    </div>
  </div>
  <div class="row">
    <div class="form-check form-check-inline"> 
        <label for="ucRegister" class="form-check-label">Register For UC</label>
        <input 
          ng-disabled="!candidate.assessment.occCode"
              type="checkbox"
              name="ucRegister"
              ng-model="applyUc"
              id="ucRegister_yes"
              class="form-check-input"
              value="yes"                              

        >
      </div>        
  </div>
  <div class="row">
    <div class="form-group col" ng-if="applyUc">
      <label for="uc">Unit of Competencies</label>
      <select
              name="uc"
              aria-placeholder="Unit Of Competencies"
              id="uc"
              ng-model="candidate.assessment.ucs"
              required    
              multiple
              class="form-control"
      >
      <option ng-repeat="uc in UCS" value="{{uc.uc_code}}">{{uc.uc_code}}-{{uc.uc_name}}</option>
      </select>
    </div>
  </div>
<div class="row">
  <div class="form-group col">
    <label for="applicationFee">Application Fee</label>
    <input type="text"
            ng-model="candidate.assessment.application_fee"
            id="applicationFee"
            value="APPLICATION_FEE"
            name="applicationFee"
            class="form-control"
    >
    </div>
    <div class="form-check form-check-inline col">
    <input type="checkbox"
            name="paid"
            ng-model="candidate.assessment.paid"
            class="form-check-input"
            id="paid"
            required
    >
    <label for="paid" class="form-check-label">Paid</label>    
  </div>
</div>

