<div class="shadow p-3 mb-5 bg-white rounded container">
<div class="row">
    <div class="form-group col">
        <label for="inistituteName">Inistitute Name</label>
        <input
              type="text"
              ng-model="candidate.basic_info.institute_name"
              required
              name="inistituteName"
              id="inistituteName"
              class="form-control"
              placeholder="Inistitute Name"
        >
      </div>
</div>
<div class="row">
        <div class="form-group col">
          <label for="eduacationBackground">Education Background</label>
          <input 
                type="text"
                name="eduacationBackground"
                id="eduacationBackground"
                class="form-control"
                required
                ng-model="candidate.basic_info.education_background"
                placeholder="Education Background"
          > 
        </div>
        <div class="form-group col">
            <label for="trainingType">Type of Training</label>
            <select 
                  name="trainingType"
                  ng-model="candidate.basic_info.type_of_training"
                  required
                  id="trainingType"
                  aria-placeholder="Training Type"                                
                  class="form-control"
            >
            <option 
                    ng-repeat="type in TRAINING_TYPES" 
                    value="{{type}}"
            >{{type}}</option>
            </select>
                  
          </div>

      </div>
      <div class="row">
    <div class="form-group col">
        <label for="trainingMode">Mode of Training</label>
        <select 
              name="trainingMode"
              ng-model="candidate.basic_info.mode_of_training"
              required
              id="trainingMode"
              aria-placeholder="Mode of Training"                                
              class="form-control"
        >
        <option ng-repeat="mode in TRAINING_MODES" 
                value="{{mode}}">
            {{mode}}
        </option>
        </select>
              
      </div>
        <div class="form-group col">
          <label for="inistituteType">Inistitute Type</label>
          <select 
                name="inistituteType"
                ng-model="candidate.basic_info.institute_type"
                required
                id="inistituteType"
                aria-placeholder="Inistitute Type"                                
                class="form-control"
          >
          <option 
                  ng-repeat="inist in INISTITUTE_TYPES" 
                  value="{{inist}}"
          >{{inist}}</option>
          </select>
                
        </div>
        </div>
      <div class="row">
        
        <div class="form-group col">
          <label for="trainingStart">Training Start (Year)</label>
          <input
                type="text"
                ng-model="candidate.basic_info.training_start"
                required
                pattern="[0-9]{4}"
                name="trainingStart"
                id="trainingStart"
                placeholder="Training Start"
                class="form-control"                          
          >
        </div>
          <div class="form-group col">
            <label for="trainingEnd">Training End (Year)</label>
            <input
                  type="text"
                  ng-model="candidate.basic_info.training_end"
                  required
                  pattern="[0-9]{4}"
                  name="trainingEnd"
                  id="trainingEnd"
                  placeholder="trainingEnd"
                  class="form-control"
            >
          </div>
        </div>
    <div class="row">
      <div class="form-group col">
          <label for="trainingCenter">Cooperative Training Center</label>
          <input
                type="text"
                required
                ng-model="candidate.basic_info.cooprative_training_center"
                name="trainingCenter"
                id="trainingCenter"
                placeholder="Cooperative Training Center"
                class="form-control"
          >
        </div>
        <div class="form-group col">
            <label for="trainingCenterStatus">Cooperative Training Center Status</label>
            <input
                  type="text"
                  required
                  ng-model="candidate.basic_info.status_of_cooprative_center"
                  name="trainingCenterStatus"
                  id="trainingCenterStatus"
                  placeholder="Cooperative Training Center Status"
                  class="form-control"
          >
        </div>
      </div>
      <div class="row">
        <div class="form-group col">
            <label for="currentLevel">Current Level</label>
            <select 
                  name="currentLevel"
                  ng-model="candidate.basic_info.current_level"
                  required
                  id="currentLevel"
                  aria-placeholder="Current Level"                                
                  class="form-control"
            >
            <option 
                    ng-repeat="clevel in LEVELS" 
                    value="{{clevel}}"
            >{{clevel}}</option>
            </select>
                  
          </div>
            <div class="form-group col">
              <label for="graduatedLevel">Graduated Level</label>
              <select 
                    name="graduatedLevel"
                    ng-model="candidate.basic_info.graduated_level"
                    required
                    id="graduatedLevel"
                    aria-placeholder="Inistitute Type"                                
                    class="form-control"
              >
              <option 
                      ng-repeat="glevel in LEVELS" 
                      value="{{glevel}}"
              >{{glevel}}</option>
              </select>
                    
            </div>
          </div>
      

</div>