<div class="form-row">
        <div class="form-group col">
          <label for="fieldOfEmplyeement">Field of Employment</label>
          <input 
                type="text"
                ng-model="candidate.field_of_employment"
                name="fieldOfEmplyeement"
                id="fieldOfEmplyeement"
                class="form-control"
                placeholder="Field of Employment"
          >
        </div>
        <div class="form-group col">
          <label for="employmentCondition"> Employment Condition </label>
          <input 
                type="text"
                ng-model="candidate.employment_condition"
                name="employmentCondition"
                id="employmentCondition"
                class="form-control"
                placeholder="Employment Condition"
          >
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label for="companyName">Company Name</label>
          <input 
                type="text"
                id="companyName"
                ng-model="candidate.company_name"
                class="form-control"
                name="companyName"
                placeholder="Company Name"
          >
        </div>
        <div class="form-group col">
            <label for="companyType">Company Type</label>
            <input 
                  type="text"
                  id="companyType"
                  ng-model="candidate.assessment.company_type"
                  class="form-control"
                  name="companyType"
                  placeholder="Company Type"
            >
        </div>
        <div class="form-group col-2">
          <label for="serviceYear"> Service Year</label>
          <input 
                  type="number"
                  name="serviceYear"
                  ng-model="candidate.assessment.service_year"
                  id="serviceYear"
                  placeholder="Service Year"
                  class="form-control"
          >
        </div>
      </div>