


<div class="container rounded p-3 mt-5 bg-white shadow" ng-controller="admissionSlipController">
        <div class="row">
            <div class="col text-center">

<h2>የምዘና ጣቢያ መግቢያ ስሊፕ Admission Slip</h2>
            </div>
        </div>
        <div class="row">
             <div class="col form-group">
                 <label for="receptNo">የደረሰኝ ቁጥር <br/> Recept No.</label>
                 <input type="text" id="receptNo" name="receptNo" class="form-control" ng-model="receptNo" placeholder="የደረሰኝ ቁጥር">                            
             </div>            
            <div class="col form-group">
                <label for="amount">መጠን <br/> Amount</label>
                <input type="number" id="amount" name="amount" class="form-control" ng-model="amount" placeholder="መጠን">
            </div>
        </div>
        <div class="row">
            <div class="col form-ground">
                <label for="date">ቀን <br/> Date</label>
                <input type="date" id="date" name="date" class="form-control" ng-model="date" placeholder="date">

            </div>
             <div class="col form-group">
                 <label for="referenceNo">የመለያ ቁጥር <br/> Reference No.</label>
                 <input type="text" id="referenceNo" name="referenceNo" class="form-control" ng-model="referenceNo" placeholder="የመለያ ቁጥር">                            
             </div>            
        </div>
        <div class="row">
             <div class="col form-ground">
                 <label for="bank"> የባንኩ ስም <br/> Bank</label>
                 <input type="text" id="bank" name="bank" class="form-control" ng-model="bank" placeholder="የባንኩ ስም">
             </div>
             <div class="col form-group">
                 <label for="name">ሙሉ ስም <br/> Name</label>
                 <input type="text" id="name" name="name" class="form-control" ng-model="name" placeholder="ሙሉ ስም">                            
             </div>     
         </div>
         <div class="row">
            <div class="col form-group">
                <label for="occupation">የሚመዘኑበት የሙያ አይነት <br/> Assessment Applied</label>
                <input type="text" id="occupation" name="occupation" class="form-control" ng-model="occupation" placeholder="የሚመዘኑበት የሙያ አይነት">                            
            </div>     
            <div class="col form-group">
                <label for="level">ደረጃ <br/> Level</label>
                <input type="text" id="level" name="level" class="form-control" ng-model="levl" placeholder="ደረጃ">                            
            </div>     
        </div>
        <div class="row">
            <div class="col form-group">
                <label for="dateT">የምዘና ቀን <br/> Date of Assessment</label>
                <input type="date" id="dateT" name="dateT" class="form-control" ng-model="dateT" placeholder="የምዘና ቀን">                            
            </div>     
            <div class="col form-group">
                <label for="time">ሰዓት <br/> Time </label>
                    <input type="time" id="time" name="time" class="form-control" ng-model="time" placeholder="ሰዓት">                            
                </div>     
        </div>
        <div class="row">
            <div class="col form-group">
                <label for="center">የምዘና ጣቢያ <br/> Venue</label>
                <input type="text" id="center" name="center" class="form-control" ng-model="center" placeholder="የምዘና ጣቢያ">                            
            </div>     
            <div class="col form-group">
                <label for="assessor">ምዘናውን የሚያካሄደው ባለሙያ <br/> Competency Assessor</label>
                <input type="text" id="assessor" name="assessor" class="form-control" ng-model="assessor" placeholder="ምዘናውን የሚያካሄደው ባለሙያ">                            
            </div>     
        </div>
        <div class="row">
            <div class="col form-group">
                <label for="supervisor">ምዝገባውን ያካሄደው <br/> Processedby</label>
                <input type="text" id="supervisor" name="supervisor" class="form-control" ng-model="supervisor" placeholder="ምዘናውን ያካሄደው">                            
            </div>     
            <div class="col form-group">
                <lable for="signiture">የአመልካቹ  ፊርማ <br/> signiture of Applicant</lable>
                <textarea placeholder="የአመልካቹ  ፊርማ" rows="" class="form-control" ng-model="signiture" name="signiture" id="signiture"></textarea>
            </div>
        </div>
        <div class="row">
            <ul>በተግባር ምዘና ሰዓት የሚከተሉትን ይያዙ   1.የስራ ልብስ (ለአስፈላጊ ሙያዎች)፣  2.እርሳስና እስኪብርቶ፣  3.የታደሰ መታወቂያ ምግብና ውሀ ምንአልባት ምዘናው ረጅም ሰዓት የሚወስድ ከሆነ </ul>
            <ul>Bring the following on the assessment day of the assessment 1. Working clothes(if needed) 2.Pencile/Ball Pen 3.Valid ID Food and water provision if assessment requires long duration.</ul>
            <ul>ማሳሰቢያ፡ ይህንን የመመዘኛ ጣቢያ መግቢያ ስሊፕ ያልያዘ ተመዝጋቢ መመዘን የማይችል መሆኑን እንገልፃለን</ul>
            <ul>Note: Please present this admission slip during the day of assessment. No Admission slip, No Assesssment.</ul>
        </div>
        <div class="row">
            <div class="col form-group">
                <label for="photograp">ፎቶግራፍ</label>
                <input type="file" id="photograp" name="photograp" class="form-control" ng-model="photograp" accept="image/*">                            
            </div>     
        </div>       
    </div>