

<li>የምዘና ጣቢያ መግቢያ ስሊፕ</li>

<div class="container">
        <div class="row">
             <div class="col form-group">
                 <label for="receptNo">የደረሰኝ ቁጥር</label>
                 <input type="text" id="receptNo" name="receptNo" class="form-control" ng-model="receptNo" placeholder="የደረሰኝ ቁጥር">                            
             </div>            
        </div>
        <div class="row">
            <div class="col form-group">
                <label for="amount">መጠን</label>
                <input type="number" id="amount" name="amount" class="form-control" ng-model="amount" placeholder="የደረሰኝ ቁጥር">
            </div>
        </div>
        <div class="row">
            <div class="col form-ground">
                <label for="date">ቀን</label>
                <input type="date" id="" name="date" class="form-control" ng-model="date" placeholder="የደረሰኝ ቁጥር">

            </div>
        </div>
        <div class="row">
             <div class="col form-group">
                 <label for="referenceNo">የመለያ ቁጥር</label>
                 <input type="text" id="referenceNo" name="referenceNo" class="form-control" ng-model="referenceNo" placeholder="የመለያ ቁጥር">                            
             </div>            
        </div>
        <div class="row">
             <div class="col form-ground">
                 <label for="bank"> የባንኩ ስም</label>
                 <input type="text" id="bank" name="bank" class="form-control" ng-model="bank" placeholder="የባንኩ ስም">
             </div>
         </div>
         <div class="row">
             <div class="col form-group">
                 <label for="name">ሙሉ ስም</label>
                 <input type="text" id="name" name="name" class="form-control" ng-model="name" placeholder="ሙሉ ስም">                            
             </div>     
         </div>
         <div class="row">
            <div class="col form-group">
                <label for="occupation">የሚመዘኑበት የሙያ አይነት</label>
                <input type="text" id="occupation" name="occupation" class="form-control" ng-model="occupation" placeholder="የሚመዘኑበት የሙያ አይነት">                            
            </div>     
        </div>
        <div class="row">
            <div class="col form-group">
                <label for="level">ደረጃ</label>
                <input type="text" id="level" name="level" class="form-control" ng-model="levl" placeholder="ደረጃ">                            
            </div>     
        </div>
        <div class="row">
            <div class="col form-group">
                <label for="dateT">የምዘና ቀን</label>
                <input type="date" id="dateT" name="dateT" class="form-control" ng-model="dateT" placeholder="የምዘና ቀን">                            
            </div>     
        </div>
        <div class="row">
            <div class="col form-group">
                <label for="time">ሰዓት</label>
                    <input type="time" id="time" name="time" class="form-control" ng-model="time" placeholder="ሰዓት">                            
                </div>     
        </div>
        <div class="row">
            <div class="col form-group">
                <label for="center">የምዘና ጣቢያ</label>
                <input type="text" id="center" name="center" class="form-control" ng-model="center" placeholder="የምዘና ጣቢያ">                            
            </div>     
        </div>
        <div class="row">
            <div class="col form-group">
                <label for="assessor">ምዘናውን የሚያካሄደው ባለሙያ</label>
                <input type="text" id="assessor" name="assessor" class="form-control" ng-model="assessor" placeholder="ምዘናውን የሚያካሄደው ባለሙያ">                            
            </div>     
        </div>
        <div class="row">
            <div class="col form-group">
                <label for="assessor">ምዘናውን የሚያካሄደው ባለሙያ</label>
                <input type="text" id="assessor" name="assessor" class="form-control" ng-model="assessor" placeholder="ምዘናውን የሚያካሄደው ባለሙያ">                            
            </div>     
        </div>
        <div class="row">
            <div class="col form-group">
                <label for="supervisor">ምዘናውን ያካሄደው</label>
                <input type="text" id="supervisor" name="supervisor" class="form-control" ng-model="supervisor" placeholder="ምዘናውን ያካሄደው">                            
            </div>     
        </div>
        <div class="row">
            <div class="row">
                <lable for="signiture">የአመልካቹ  ፊርማ</lable>
                <textarea placeholder="የአመልካቹ  ፊርማ" rows="" class="form-control" ng-model="signiture" name="signiture" id="signiture"></textarea>
            </div>
        </div>
        <div class="row">
            <ul>በተግባር ምዘና ሰዓት የሚከተሉትን ይያዙ   1.የስራ ልብስ (ለአስፈላጊ ሙያዎች)፣  2.እርሳስና እስኪብርቶ፣  3.የታደሰ መታወቂያ ምግብና ውሀ ምንአልባት ምዘናው ረጅም ሰዓት የሚወስድ ከሆነ </ul>
            <ul>ማሳሰቢያ፡ ይህንን የመመዘኛ ጣቢያ መግቢያ ስሊፕ ያልያዘ ተመዝጋቢ መመዘን የማይችል መሆኑን እንገልፃለን</ul>
        </div>
        <div class="row">
            <div class="col form-group">
                <label for="photograp">ፎቶግራፍ</label>
                <input type="file" id="photograp" name="photograp" class="form-control" ng-model="photograp" accept="image/*">                            
            </div>     
        </div>       
    </div>